
  .ca {
    width: 50%;
    padding: 0%;
    margin: 10px;
    
  }
  .Tanmay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .m {
    display: flex;
    justify-content: center;
    
    margin-top: 200px;
  }